@import 'https://fonts.googleapis.com/css?family=Dosis|Roboto:300,400';


/* *** Reset *********************************************************** *** */
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* *** Global ********************************************************** *** */
:root {
	--background: #a1fa8f;
	--color: #367e42;
	--btn-sx: 50, 255, 50;
	--btn-dx: #25ad19;
	--input: #95fd33;
}

body {
	background: var(--background);
}


/* *** Sign ************************************************************ *** */
#sign {
	position:absolute;
	width: auto;
	height:auto;
	top: calc(50% - 240px);
	left: calc(50% - 160px);
}

#sign form {
	position: absolute;
	text-align: center;
	background: #fff;
	width: 310px;
	height: 470px;
	border-radius: 5px;
	padding: 30px 20px 0 20px;
	box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
}

#sign p {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	text-transform: uppercase;
	font-size: 12px;
	color: var(--color);
	margin-bottom: 40px;
}

#sign p > span {
	padding-top: 3px;
	display: block;
	font-weight: 400;
	font-size: 9px;
}

#sign h3 {
	font-family: 'Dosis';
	font-size: 35px;
	text-transform: uppercase;
	color: var(--color);
	margin-bottom: 30px;
}

input,
button{
	outline: none !important;
}

#sign button.fb {
	border: none;
	background: #3b5998;
	width: 250px;
	height: 25px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 4px;
	border: 1px solid #29487d;
	cursor: pointer;
	margin-bottom: 20px;
	transition:all 0.3s linear;
}
#sign button.fb:hover {
	background: #fff;
	color: #3b5998;
}

#sign button.form-btn {
	position: absolute;
	width: 50%;
	height: 60px;
	bottom: 0;
	border: 0;
	font-family: 'Dosis';
	font-size: 1.4rem;
	text-transform: uppercase;
	cursor: pointer;
}

#sign button.form-btn.sx {
	left: 0;
	border-radius: 0 0 0 5px;
	background-color: rgba(var(--btn-sx), 0.35);
	color: #fff;
	transition:all 0.3s linear;
}

#sign button.form-btn.sx:hover {
	background-color:rgba(var(--btn-sx), 0.65);
	color: #fff;
}

#sign button.form-btn.sx.back {
	background-color: rgba(0, 0, 0, 0.15);
	transition:all 0.3s linear;
}

#sign button.form-btn.sx.back:hover {
	background-color: rgba(0, 0, 0, 0.35);
}

#sign button.form-btn.dx {
	right: 0;
	border-radius: 0 0 5px 0;
	background-color: var(--btn-dx);
	color: #fff;
}

input, textarea {
	border: none;
	border-bottom: 1px solid var(--input);
	width: 85%;
	font-family: 'Roboto';
	color: var(--btn-sx);
	text-align: center;
	font-size: 21px;
	font-weight:100;
	margin-bottom:25px;
}

::-webkit-input-placeholder {
  color: var(--input);
	font-family: 'Roboto';
	font-weight:100;
}

:-moz-placeholder {
  color: var(--input);
	font-family: 'Roboto';
	font-weight:100;
}

::-moz-placeholder {
  color: var(--input);
	font-family: 'Roboto';
	font-weight:100;
}

:-ms-input-placeholder {
  color: var(--input);
	font-family: 'Roboto';
	font-weight:100;
}

input, textarea { width: 100% }

.signIn{
	z-index: 1;
	transform: perspective(100px) translate3d(100px, 0px, -30px);
	opacity: 0.5;
}

.signUp {
	z-index: 2;
}

.active-dx{
	animation-name: foregrounding-dx;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

.active-sx{
	animation-name: foregrounding-sx;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

.inactive-dx{
	animation-name: overshadowing-dx;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

.inactive-sx{
	animation-name: overshadowing-sx;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

@keyframes overshadowing-dx {
	0%{
		z-index:2;
		transform: perspective(100px) translate3d(0px, 0px, 0px);
		opacity: 1;
		box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
	}
	100%{
		z-index: 1;
		transform: perspective(100px) translate3d(100px, 0px, -30px);
		opacity: 0.5;
		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
	}
}

@keyframes overshadowing-sx {
	0%{
		z-index:2;
		transform: perspective(100px) translate3d(0px, 0px, 0px);
		opacity: 1;
		box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
	}
	100%{
		z-index: 1;
		transform: perspective(100px) translate3d(-100px, 0px, -30px);
		opacity: 0.5;
		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
	}
}

@keyframes foregrounding-dx {
	0%{
		z-index:1;
		transform: perspective(100px) translate3d(100px, 0px, -30px);
		opacity: 0.5;
	}
	50%{
		z-index:2;
		transform: perspective(100px) translate3d(400px, 0px, -30px);
	}
	100%{
		z-index:2;
		transform: perspective(100px) translate3d(0px, 0px, 0px);
		opacity: 1;
	}
}

@keyframes foregrounding-sx {
	0%{
		z-index:1;
		transform: perspective(100px) translate3d(-100px, 0px, -30px);
		opacity: 0.5;
	}
	50%{
		z-index:2;
		transform: perspective(100px) translate3d(-400px, 0px, -30px);
	}
	100%{
		z-index:2;
		transform: perspective(100px) translate3d(0px, 0px, 0px);
		opacity: 1;
	}
}


/* *** Message ********************************************************* *** */
#message {
	position: relative;
	width: 100%;
}

#message p {
	color: white;
	border-radius: 10px;
	padding: 10px;
	width: 90%;
	text-align: center;
	margin: .5rem auto;
}

#message p.good {
	background: rgb(149, 230, 95);
}

#message p.bad {
	background: rgb(230, 95, 95);
}

/* *** Account ********************************************************* *** */
#account {
  display: flex;
  justify-content: center;
}

#account img {
	width: 100%;
	height: 100%
}

#accountForm {
  display: flex;
  flex-wrap: wrap;
	width: 80%;
  margin: 3rem 0;
	padding: 1rem 3rem;
	background: #d1fccc;
	border-radius: 15px;
	border: 1px solid #ceeecf;
}

#accountForm .col-6, .col-12 {
  display: flex;
  flex-direction: column;
  margin: auto;
}

#accountForm .col-6 { width: 50% }
#accountForm .col-12 { width: 100% }

#accountForm input {
  height: 2rem;
  margin: 0.3rem 0;
}

#img-preview {
  margin: 10px auto;
}

#account [type="file"] {
  height: 0;
  width: 0;
  overflow: hidden;
}

#accountForm label {
  background: #5fca4a;
  font-size: 0.9rem;
  padding: 10px;
  width: 80%;
  margin: auto;
  text-align: center;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
}

#accountForm input[type="submit"] {
  background: #5fca4a;
  font-size: 1rem;
	vertical-align: middle;
  height: 3rem;
  text-align: center;
  margin: 0;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
}

#accountForm input[type="submit"]:hover, #accountForm label:hover { background: #008800 }

#accountForm input, textarea {
	text-align: left;
	padding-left: 10px;
	color: #5fca4a;
}

#accountForm h2 {
	color: #5fca4a;

}

#btnExit {
	color: #ffffff;
	background:#95e65f;
	border: none;
	padding: 5px;
	border-radius: 10px;
}

#btnExit:hover {
	background: #008800;
}

#menu {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 1rem 0;
}
